
$XS : 6cm !default;
$S : 10cm !default;
$M : 15cm !default;
$L : 20cm !default;
$XL: 30cm !default;
$XXL: 50cm !default;

$default-screen-size : S !default;

/**
 * MQ - A mixin that creates a media query depending on the screen size.
 * @param $screen-size: $default-screen-size
 */
@mixin MQ($screen-size: $default-screen-size) {
    @if $screen-size == XS {
    	@media only screen and (min-width: $XS) {
    	    @content;
    	}
    } @else if $screen-size == S {
    	@media only screen and (min-width: $S) {
    	    @content;
    	}
    } @else if $screen-size == M {
    	@media only screen and (min-width: $M) {
    	    @content;
    	}
    } @else if $screen-size == L {
    	@media only screen and (min-width: $L) {
    	    @content;
    	}
    } @else if $screen-size == XL {
    	@media only screen and (min-width: $XL) {
    	    @content;
    	}
    } @else {
        @content;
    }
}
